<header>
    <div class="menu">
      <div class="logo">
        <a class="title" href="{{ '/' | prepend: site.baseurl }}">{{ site.blog.title }}</a>
        <object type="image/svg+xml" data="{{ site.blog.logo_path | relative_url }}" class="logosvg">Tu navegador no soporta archivos svg. </object>
      </div>

        <ul>
          <li><a href="{{ '/' | prepend: site.baseurl }}">Inicio</a></li>
          <li><a href="{{ '/gcb' | prepend: site.baseurl }}">Capoeira</a></li>
          <li><a href="{{ '/lista' | prepend: site.baseurl }}">Lista</a></li>
        </ul>
    </div>
    <div class="social">
      <ul>
        {% if site.author.instagram %}
        <li>
            <a href="https://instagram.com/{{ site.author.instagram }}" target="_blank" class="smaller">
              <span class="icon-instagram"></span>
            </a>
        </li>
        {% endif %}
        {% if site.author.mail %}
        <li>
            <a href="mailto:{{ site.author.mail }}" target="_blank">
              <span class="icon-mail_outline"></span>
            </a>
        </li>
        {% endif %}
        {% if site.author.space %}
        <li>
            <a href="https://facebook.com/{{ site.author.space }}" target="_blank" class="smaller">
              <span class="icon-space"></span>
            </a>
        </li>
        {% endif %}
        <li>
            <a href="#" onclick="switchTheme()" title="Switch theme?">
              <span class="icon-invert_colors" id="theme-switcher"></span>
            </a>
        </li>
      </ul>
    </div>
</header>
